/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: brown;
}
.container
{
    background-color: azure;
    border-radius: 7px;
    padding: 30px;

}
.wrapper
{
    border: 1px solid #bbb;
    border-radius: 5px;
}
.wrapper .input
{
    border-bottom: 1px solid #bbb;
    display: flex;
}
.input .to-text
{
    border-left: 1px solid #bbb;
}
.input textarea
{
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 15px;
    resize: none;
}
.controls
{
   display: flex;
   padding: 12px 15px;
   align-items: center;
   justify-content: space-between;
   list-style: none;
}
.controls .row.from .icons
{
    padding-right: 15%;
    border-right: 1px solid #bbb;
}
.controls .row.to .icons
{
    padding-left: 15%;
    border-left: 1px solid #bbb;
}
.controls, li
{
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}
.controls .icons
{
    width: 38%;
}
.controls .icons i
{
    width: 50px;
    font-size: 14px;
    cursor: pointer;
}
.controls .row select
{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
.controls .exchange
{
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.container button
{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: beige;
}

.container button:hover
{
    background-color: white;
    color: black;
}